.componentRoot{
    border: 1px solid #f0f2f7;
  border-radius: 4px;
  padding: 20px 25px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.compTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currencyIcon{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #edf0ff;
  color: #3c58f0;
  font-size: 1.5em;
}
.dropdownWrapper{
  width: 100px;
  padding: 5px 10px;
 box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.dropDown{
  border: none;
}
.compTitle{
  color: #798089;
  font-size: .85em;
  font-weight: 600;
  margin: 12px 0;
}
.countValueAnalytics{
  display: flex;
  align-items: center;
  gap: 17px
}
.countValue{
  font-size: 1.2em;
  font-weight: 700;
}
.trendWrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: .67em;
  font-weight: 500;
}
.up{
  color: #2cc32d;
}
.down{
  color: #f1282a;
}
.imageWrapper{
  height: 180px;
  width: 100%;
}