.compRoot{
  width: 180px;
  transition: ease 0.30s;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
}
.collapseMenu{
  width: 50px;
}
.navWrap{
  flex: 1px;
}
.routeBtn{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}
.routeBtn:hover{
  background-color: #00000029;
  color: #405bf0;
}
.isActive{
  background-color: #f5f6ff;
  color: #405bf0;
}
.navMenuIcon{
  font-size: 1.2em;
}
.pathNameHidden{
  display: none;
  transition: ease 0.20s;
}
.navName{
  font-size: 1em;
  font-weight: 400;
  transition: ease 0.20s;
}
@media screen and (max-width: 500px) {
 .compRoot{
  position: absolute;
  left: -100%;

 }
 .collapseMenu{
    width: 180px;
    left: 0;
 }
 .pathNameHidden{
  display: block;
}
}